<%= link_to 'Notifications', notifications_path %><br><br>

<h1>New Notification Broadcast</h1>

<%= render 'form', notification_broadcast: @notification_broadcast %>

<%= link_to 'Back', notifications_broadcasts_path %>
