<h1>Editing Notification Channel</h1>

<%= render 'form', notification_channel: @notification_channel %>

<%= link_to 'Show', @notification_channel %> |
<%= link_to 'Back', notifications_channels_path %>
