<h1>Editing Notification Request</h1>

<%= render 'form', notification_request: @notification_request %>

<%= link_to 'Show', @notification_request %> |
<%= link_to 'Back', notification_requests_path %>
